body {
    background-color: ivory;
}
h1 {
    font-size:60px;
    color: rgb(231, 220, 184);
    -webkit-text-stroke: 2px rgb(139, 133, 102);
    margin-top: 0px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(188, 179, 150);
}
#divid {
    width:18vw;
    float:left;
    margin-left: 10px;
}
#aboutHerTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 220, 184);
    text-decoration: underline;
    text-decoration-color: rgb(188, 179, 150);
    -webkit-text-stroke: 1px rgb(139, 133, 102);
    margin-top: 0px;
    font-size: 35px;
    text-align: center;
}
#aboutInfo {
    margin-top:0px;
    color: rgb(139, 133, 102);
    font-weight: 200;
}
#mainPhoto {
    height: 300px;
    width: 200px;
    margin-left: 10px;
    
}

#mainID {
    width: 15vw;
    float:left
}
#media {
    width:35vw;
    height:22vw;
    float: left;
    /* background-color: white; */
    margin-left: 50px;
}
#Cirali {
    width:200px;
    height:300px;
    float:left;
    margin-right:20px;

}
#mediaInfo {
    margin-top:0px;
    color: rgb(139, 133, 102);
    font-weight: 200;
}
#mediaTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 220, 184);
    text-decoration: underline;
    text-decoration-color: rgb(188, 179, 150);
    -webkit-text-stroke: 1px rgb(139, 133, 102);
    margin-top: 0px;
    font-size: 35px;
    text-align: center;
}
#mediaText {
    width: 500px;
   
}
#Songs {
    float:right;
    margin-right: 100px;
    margin-top: 0px;
    
    /* margin-bottom: 700px; */

}